################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Movies.Api/obj
/Movies.Api/.vs/Movies.Api/FileContentIndex
/Movies.Api/bin/Debug/net6.0
/Movies.Api/.vs
/Movies.Api.Tests/bin/Debug/net6.0
/Movies.Api.Tests/obj
